In [1]:
a = []

In [4]:
a.append(4)

In [5]:
a

[4, 4]

In [6]:
a.extend(a)

In [7]:
a

[4, 4, 4, 4]

In [144]:

a = []
n = 1000
for i in range(n):
    a.append(round(99*random.random()+1))

[54, 23, 93, 52, 70, 33, 96, 69, 10, 76]

In [11]:
import random

In [129]:
round(99*random.random()+1)

68

In [142]:
count = [ 0 for i in range(10)]

In [143]:
count

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [154]:
54//10

5

In [153]:
for k ,j  in enumerate(count):
    print( k*10 +1 , j)

1 0
11 0
21 0
31 0
41 0
51 0
61 0
71 0
81 0
91 0

In [155]:
for i in a:
    k = (i - 1) // 10
    count[k] += 1

In [156]:
count

[98, 116, 103, 98, 104, 90, 107, 106, 94, 84]

In [177]:
a = [ -2 , -5, -10 , -50 , -50]

In [167]:
a = [1,2,3 ,4, 10]

In [178]:
max1=-101
max2=-101
min1=101
min2=101
for i in a:
    if max1<i:
        max2=max1
        max1=i
    elif max2<i:
        max2=i
    if min1>i:
        min2=min1
        min1=i
    elif min2>i:
        min2=i
print(min1, min2, max2, max1)

-50 -50 -5 -2

In [179]:
a.sort()

In [176]:
a

[-50, -50, -10, -5, -2]

In [ ]:
b = a.remove(max(a))

In [180]:
max1 = a[-1]
max2 = a[-2]
min1 = a[0]
min2 = a[1]

In [181]:
print(min1, min2, max2, max1)

-50 -50 -5 -2

In [170]:
b = a.remove(max(a))
max2 = max(b)

In [169]:
print(min(min1*min2 , min1*max1 , max1*max2))

2

# 07.04.2020

In [2]:
a = float(input())
b = float(input())
x = float(input())
if b > 0:
    if a>0:
        print('x > ', a, ' или x < 0')
    else:
        print('x < ' , a, 'или x > 0')
else:
    if a > 0:
        print('0 < x <', a)
    else:
        print(a, '< x < 0 ')

2
-5
8
0 < x < 2.0

$$\frac{x-a}{bx} > 0$$

b > 0 => 
    a > 0:
        [-inf : 0) (a : +inf]
    a < 0:
        [-inf : a) (0 : +inf]
b < 0 => 
    a > 0:
        (0 : a)
    a < 0:
        (a : 0 )

In [3]:
a = [10 , 45 , 55 , 245 , 35 , 25 , 10]

In [ ]:
c =[]
N = int(input())
for i in range(N):
    c.append(int(input()))

In [7]:
n = 7

In [10]:
summ = 2000
for i in range(n-4):
    for j in range(i + 4 , n):
        if(a[i] + a[j] < summ):
            summ = a[i] + a[j]

In [11]:
summ

20

# 14.04.2020

Для заданной последовательности неотрицательных целых чисел необходимо найти минимальную сумму двух её элементов, номера которых различаются не менее чем на 4. Значение каждого элемента последовательности не превышает 1000. Количество элементов последовательности не превышает 10000.

7

10

45

55

245

35

25

10

In [6]:
buff = [ 0 for i in range(4) ]

In [8]:
a = [10 , 45 , 55 , 245 , 35 , 25 , 10]

In [9]:
buff

[0, 0, 0, 0]

In [19]:
N = 7
d = 4 # дилина буфера 
mn = 1001 # минимум кроме ближайших 4-х
mins = 2001 # минимальная сумма

In [20]:
for i in range(d):
    buff[i] = a[i]
    
for i in range(N-d):
    c = a[i+d]
    if (buff[0] < mn):
        mn = buff[0]
    if (mn + c < mins):
        mins = mn + c
    for i in range (3):
        buff[i] = buff[i+1]
    buff[3] = c
print(mins)

20

[10, 45, 55, 245]

Для заданной последовательности целых чисел необходимо найти максимальную сумму квадратов двух её элементов, номера которых различаются не менее чем на 10. Значение каждого элемента последовательности не превышает 100. Количество элементов последовательности не превышает 10000.

$(A^2 + B^2) -> max$

In [11]:
d = 1
mx = -1 #максимальный квадрат отстающий на 10
maxs = -1 #максимальная сумма

In [12]:
buff = [0 for i in range(d)]

In [13]:
N=int(input())

5

In [14]:
#print(buff)
for i in range(d):
    buff[i] = int(input())
    
for i in range(N-d):
    c=int(input())
    if mx < buff[0]*buff[0]:
        mx = buff[0]*buff[0]
    if maxs < mx + c*c:
        maxs = mx + c*c
    for j in range(d-1):
        buff[i]=buff[i+1]
    buff[d-1]=c   
print(maxs)

-10
2
2
50
2
2600

# 03.05.2020

In [8]:
def F(n):
    return n*n*n

def G(n):
    return 2*n + 3
k = 62
i = 1
while F(i) < G(k):
    print("i = {} F(i) = {} ".format(i , F(i) ))
    i += 1
print(i , G(k))

i = 1 F(i) = 1
i = 2 F(i) = 8
i = 3 F(i) = 27
i = 4 F(i) = 64
i = 5 F(i) = 125
6 127

In [4]:
N = int(input())
a = []
for i in range(N):
    a.append(int(input()))

5
38
12
57
16
57

In [5]:
a

[38, 12, 57, 16, 57]

1) сумма пары четная => макс чет макс нечет

2) одно из чисел делится на 19 

3) сумма максимальна

In [6]:
a

[38, 57, 16, 57, 12]

In [8]:

maxsumm=0
number1=0
number2=0
for i in range(N):
    for j in range(N):
        if (a[i]+a[j])>maxsumm and (a[j]+a[i])%2==0 and (a[j]%19==0 or a[i]%19==0):
            print(1)
            maxsumm=a[i]+a[j]
            number1=a[i]
            number2=a[j]
if maxsumm == 0:
    print("0, 0")
else:
    print(number1, number2)

1
1
57 57

In [12]:
num = [0 , 0]
max_19_1 = -1
max_19_0 = -1
max_1 = -1
max_0 = -1 
N = int(input())
for i in range(N):
    k = int(input())
    #use 
    if k % 19 == 0:
        if k % 2 == 0:
            if k + max_0 > sum(num) and max_0 > -1:
                num[0] = max_0
                num[1] = k
        else:
            if k + max_1 > sum(num) and max_1 > -1:
                num[0] = max_1
                num[1] = k
    else:
        if k % 2 == 0:
            if k + max_19_0 > sum(num) and max_19_0 > -1:
                num[0] = max_19_0
                num[1] = k
        else:
            if k + max_19_1 > sum(num) and max_19_1 > -1:
                num[0] = max_19_1
                num[1] = k
    
    #refresh
    if k % 19 == 0:
        if k % 2 == 0 and k > max_19_0 : 
            max_19_0 = k
        if k % 2 == 1 and k > max_19_1 : 
            max_19_1 = k
    if k % 2 == 0 and k > max_0 : 
        max_0 = k
    if k % 2 == 1 and k > max_1 : 
        max_1 = k
print(num[0] , num[1])

5
38
57
12
16
57
57 57

In [10]:
num

[57, 57]

# 01.07.2020

In [2]:
n = int(input())
t = int(input())

3
10

In [3]:
a =[]
b=[]
for i in range(n):
    a.append(int(input()))
    b.append(int(input()))

130
210
320
140
100
120

In [4]:
a

[130, 320, 100]

In [5]:
b

[210, 140, 120]

In [11]:
a[:1]

[130]

In [13]:
b[1:]

[140, 120]

In [10]:
s =100000000000000
for i in range(n+1):
    if i == 0:
        s_1  = sum(a)
    elif i == n:
        s_1 = sum(b)
    else:
        s_1 = sum(a[:i]) + sum(b[i:]) + t
    print(s_1)
    if s_1 < s:
        s = s_1

550
400
580
470

In [14]:
x = 0
y = 0
for i in range(n):
    a_i = a[i]
    b_i = b[i]
    x = x + a_i
    y = min(x + t , y + b_i)

In [15]:
min(x , y)

400

In [17]:
abs(-4)

4

In [19]:
s = 0
x_max = 0
y_max = 0
n = int(input())
for i in range(n):
    x_i = int(input())
    y_i = int(input())
    if (x_i == 0):
        if abs(y_i) > y_max:
            y_max = abs(y_i)
    if (y_i == 0):
        if abs(x_i) > x_max:
            x_max = abs(x_i)
s = x_max * y_max / 2
if s == 0:
    print('Треугольник не существует')
else:
    print(s)

3
6
0
0
8
9
7
24.0